<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="fragments :: styleLinks" th:remove="tag"></th:block>
    <meta charset="UTF-8">
    <title>Todo task form</title>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"></th:block>

<form th:action="@{/task/add}" method="post" th:object="${task}">
    <div class="content-container">
        <div class="container">
            <div class="row col-12">
                <div class="row col-12">
                    <h1>Todo task form</h1>
                </div>
                <div th:if="${errorMessage != null}" class="row col-12">
                    <div class="alert alert-danger col-12" role="alert">
                        <p th:text="${errorMessage}"></p>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-6">
                        <label for="name">Name:</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="name" type="text" th:field="*{name}">
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-6">
                        <label for="content">Content:</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" id="content" type="text" th:field="*{content}">
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<th:block th:replace="fragments :: footer" th:remove="tag"></th:block>
<th:block th:replace="fragments :: jsScripts" th:remove="tag"></th:block>
</body>
</html>